div.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h3.title {
  font-size: 25px;
  em {
    font-weight: bold;
  }
  span {
    font-weight: normal;
  }
}

h3.subTitle {
  font-size: 20px;
  em {
    font-weight: bold;
  }
  span {
    font-weight: normal;
  }
}

span.more {
  font-size: 24px;
  color: var(--fontDarkColor);
}
