.wrap {
  background-color: var(--lightGray);
  padding: 60px 0px 40px;
}

div.titleWrap {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  h2.title {
    width: 50%;
    em {
      font-weight: bold;
      font-size: 30px;
      color: var(--fontDarkColor);
    }
    p {
      font-size: 30px;
      font-weight: 400;
      color: var(--fontLightColor);
    }
  }
  div.rightWrap {
    width: 50%;
    display: flex;
    justify-content: space-around;
    fieldset.iconWrap {
      text-align: center;
      cursor: pointer;
      > div {
        width: 75px;
        height: 75px;
        background-image: url("http://127.0.0.1:3000/images/recommand/icon_area.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 10px;
      }
      &:nth-child(1) {
        div.icon {
          background-position: 0 -225px;
        }
      }
      &:nth-child(2) {
        div.icon {
          background-position: 0 -75px;
        }
      }
    }
  }
}
