:root {
  --bgColor: #424242;
  --iconColor: #bb2121;
  --navColor: #eeb934;
  --fontColor: #878787;
  --pointColor: rgb(106, 149, 40);
  --activeColor: #5de750;
  --orange: orange;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
}
