*,
body {
  font-family: "Noto Sans KR", "돋움", Dotum, AppleGothic, sans-serif;
}

:root {
  --bgColor: #424242;
  --iconColor: #bb2121;
  --navColor: #eeb934;
  --fontDarkColor: #000000;
  --fontLightColor: #333333;
  --pointColor: rgb(106, 149, 40);
  --activeColor: #5de750;
  --orange: orange;
  --bluelight: #cedcff;
  --darknite: #1A1A24;
  --gray : #666670;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
}

.inner {
  width: 940px;
  margin: 0 auto;
}
