h2.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--fontLightColor);
  text-align: center;
}
div.descriptionWrap {
  display: flex;
  justify-content: center;
  p {
    position: relative;
    padding: 20px 10px 30px;
    color: var(--fontGray);
    &.decription2 {
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        width: 1.5px;
        height: 16px;
        background-color: var(--borderline);
      }
    }
  }
}

em.strongText {
  padding: 0 10px;
  font-size: 28px;
  font-weight: 500;
  color: var(--fontLightColor);
  box-shadow: inset 0 -12px var(--pinkline);
}
div.iconMenuWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 15px;
  border-bottom: 1px solid var(--borderline);
  div.iconMenuLeft {
    display: flex;
    align-items: center;
    > span {
      margin: 0 15px 0 5px;
      vertical-align: middle;
      font-size: 15px;
      color: var(--fontGray);
    }
  }
  div.iconMenuRight {
    svg {
      cursor: pointer;
      margin-right: 15px;
      &.iconScrapOn {
        color: var(--navColor);
      }
      &.iconShare {
        &:hover {
          color: var(--blue);
        }
      }
    }
  }
}
ul.tabMenuWrap {
  margin-bottom: 20px;
  display: flex;
  width: 940px;
  border-bottom: 1px solid var(--borderline);
  &.active {
    position: fixed;
    top: 0;
    background: var(--white);
    z-index: 100;
  }
  li.tabMenu {
    position: relative;
    padding: 20px;
    width: 25%;
    text-align: center;
    font-size: 18px;
    color: var(--fontGray);
    cursor: pointer;
    &.active {
      font-weight: 600;
      color: var(--fontLightColor);
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 40px;
        width: 150px;
        height: 3px;
        background-color: var(--fontLightColor);
      }
    }
    &:not(:first-child) {
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 0;
        width: 1.5px;
        height: 16px;
        background-color: var(--borderline);
      }
    }
  }
}
