.wrap {
  min-height: 500px;
  margin-bottom: 80px;
  div.restTitle {
    margin-bottom: 15px;
    height: 35px;
    font-size: 32px;
    font-weight: 800;
    color: var(--blue);
  }
  ul.tab {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    border-radius: 5px;
    li.menuList {
      position: relative;
      width: 50%;
      height: 50px;
      text-align: center;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 17px;
        width: 1px;
        height: 16px;
        opacity: 0.5;
        background-color: var(--white);
      }
    }
    span {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      font-weight: 500;
      color: var(--white);
      opacity: 0.5;
      &.active {
        opacity: 1;
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        transform: rotate(45deg);
        width: 12px;
        height: 12px;
        bottom: -5px;
        left: 230px;
        background-color: var(--blue);
        z-index: -10;
        opacity: 0;
      }
    }
  }
  div.recommandSection {
    display: flex;
    div.recommandItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 330px;
      width: 25%;
      transform: scale(1);
      overflow: hidden;
      transition: width 1s ease;
      &:not(:first-of-type) {
        margin-left: 20px;
      }
      &:hover {
        cursor: pointer;
        width: 600px;
        img {
          transform: scale(1.1);
          transition: all 0.5s ease;
        }
      }
      .imageWrap {
        display: inline-block;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        svg {
          position: absolute;
          padding: 5px;
          font-size: 22px;
          top: 15px;
          right: 15px;
          background: var(--white);
          border-radius: 50%;
          z-index: 2;
          &.active {
            color: var(--likeColor);
          }
        }
        img {
          height: 100%;
          object-fit: cover;
          z-index: -1;
        }
        span.decriptionWrap {
          display: inline-block;
          position: absolute;
          width: 100%;
          bottom: 30px;
          color: var(--white);
          & > p {
            padding: 0 40px;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:first-of-type {
              margin-bottom: 10px;
              font-weight: 500;
              font-size: 18px;
            }
            &:last-of-type {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

li.menuList .active {
  color: yellow;
}
