.wrap {
  min-height: 600px;
  margin-bottom: 80px;
  div.restTitle {
    margin-bottom: 15px;
    height: 35px;
    font-size: 32px;
    font-weight: 800;
    color: var(--blue);
  }
  ul.tab {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    border-radius: 5px;
    li.menuList {
      position: relative;
      width: 50%;
      height: 50px;
      text-align: center;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 17px;
        width: 1px;
        height: 16px;
        opacity: 0.5;
        background-color: var(--white);
      }
    }
    span {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      font-weight: 500;
      color: var(--white);
      opacity: 0.5;
      &.active {
        opacity: 1;
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        transform: rotate(45deg);
        width: 12px;
        height: 12px;
        bottom: -5px;
        left: 230px;
        background-color: var(--blue);
        z-index: -10;
        opacity: 0;
      }
    }
  }
  div.recommandSection {
    display: flex;
    div.recommandItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      &:not(:first-of-type) {
        margin-left: 20px;
      }
      div.imageWrap {
        margin-bottom: 10px;
        width: 220px;
        height: 220px;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transform: scale(1);
          &:hover {
            transform: scale(1.2);
            transition: 1s ease;
          }
        }
      }
      div.placeName {
        margin-bottom: 5px;
      }
    }
  }
}

li.menuList .active {
  color: yellow;
}
