@charset "UTF-8";
*,
body {
  font-family: "Noto Sans KR", "돋움", Dotum, AppleGothic, sans-serif;
}

:root {
  --bgColor: #424242;
  --iconColor: #bb2121;
  --navColor: #eeb934;
  --fontDarkColor: #000;
  --fontLightColor: #333;
  --pointColor: rgb(106, 149, 40);
  --activeColor: #5de750;
  --orange: orange;
  --bluelight: #cedcff;
  --blue: #567ff2;
  --white: #FFF;
  --likeColor: #fe5d63;
  --darknite: #1A1A24;
  --lightGray: #f4f5f7;
  --fontGray: #666;
  --pinkline: #ffdfdf;
  --borderline: #e6e6e6;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

input {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

.inner {
  width: 940px;
  margin: 0 auto;
}

div.wrap {
  min-height: 900px;
}
div.wrap h3.title {
  margin-bottom: 28px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--fontDarkColor);
  line-height: 25px;
}
div.wrap h3.title a {
  float: right;
}
div.wrap h3.title a svg {
  text-align: center;
  width: 17px;
  height: 17px;
}
div.wrap div.toDate {
  color: var(--fontDarkColor);
}
div.wrap div.dayList {
  display: flex;
  width: 940px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 20px 0;
}
div.wrap div.dayList button.day {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
  cursor: pointer;
  margin: 0 10px;
}
div.wrap div.dayList button.day:hover {
  border-radius: 20%;
  background-color: lightgray;
}
div.wrap div.dayList button.day span.date {
  margin-bottom: 10px;
  text-align: center;
  font-size: 17px;
  letter-spacing: -0.5px;
  color: var(--fontDarkColor);
}
div.wrap div.dayList button.day span.text {
  text-align: center;
  font-size: 17px;
  letter-spacing: -0.5px;
  color: var(--fontDarkColor);
}
div.wrap div.dayList button.active {
  background-color: var(--fontLightColor);
  color: white !important;
  border-radius: 20%;
}
div.wrap div.dayList button.active span {
  color: white !important;
}
div.wrap div.swiperWrap {
  position: relative;
}
div.wrap div.swiperWrap div.festival {
  position: relative;
  width: 300px !important;
  height: 424px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}
div.wrap div.swiperWrap div.festival:hover div.cont {
  bottom: 0;
  transition: all 0.5s;
}
div.wrap div.swiperWrap div.festival img {
  width: 100%;
  height: 100%;
}
div.wrap div.swiperWrap div.festival div.cont {
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: -263px;
  height: 263px;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
  text-align: center;
}
div.wrap div.swiperWrap div.festival div.cont strong.subject {
  display: block;
  margin: 40px 30px 8px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.8px;
  line-height: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
div.wrap div.swiperWrap div.festival div.cont span.addr {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}
div.wrap div.swiperWrap div.festival div.cont em.start {
  display: block;
  margin: 17px 0 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
div.wrap div.swiperWrap div.festival div.cont a.link {
  display: inline-block;
  width: 63px;
  height: 63px;
  line-height: 63px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 100%;
  color: #fff;
  letter-spacing: -0.5px;
}
div.wrap div.swiperWrap div.noImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}
div.wrap div.swiperWrap div.noImg img {
  width: 141px;
  height: 140px;
}
div.wrap div.swiperWrap button.festivalPrevBtn {
  position: absolute;
  top: 200px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--fontDarkColor);
  border-radius: 50%;
  background-color: #fff;
}
div.wrap div.swiperWrap button.festivalPrevBtn svg {
  width: 100%;
  height: 100%;
}
div.wrap div.swiperWrap button.festivalNextBtn {
  position: absolute;
  top: 200px;
  right: -30px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--fontDarkColor);
  border-radius: 50%;
  background-color: #fff;
}
div.wrap div.swiperWrap button.festivalNextBtn svg {
  width: 100%;
  height: 100%;
}
div.wrap div.festivalLink {
  margin-top: 25px;
  text-align: center;
}
div.wrap div.festivalLink a {
  display: inline-block;
  width: 260px;
  height: 45px;
  line-height: 42px;
  border: 1px solid var(--fontLightColor);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: var(--fontLightColor);
  box-sizing: border-box;
}
div.wrap div.festivalLink a strong {
  font-weight: 700;
}
div.wrap div.festivalLink a svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
div.wrap div.noData {
  text-align: center;
  min-height: 424px;
  background: #f4f6f8;
}
div.wrap div.noData img.noImg {
  margin-top: 100px;
  margin-bottom: 30px;
}
div.wrap div.noData h4.noTitle {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 23px;
  color: #333;
}
div.wrap div.noData p.noText {
  margin: 7px 0 18px;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 19px;
  color: #666;
}/*# sourceMappingURL=styles.module.css.map */